*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Times New Roman', Times, serif;
    background: url('https://cdn-images-1.medium.com/max/1096/1*i8-u-V8LTTbQwTeUwLI_BQ.gif') center bottom / contain repeat-x fixed #f8da59;
    height: 100vh;
    overflow: hidden;
}
#blogInfo{ display: none; }
noscript{
    position: fixed;
    display: block;
    width: 100%;
    height: 100vh;
}
#noScript{
    margin: auto;
}
#noScript .infoScript{
    color: #000000;
    font-variant: small-caps;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin: 50px;
    text-align: center;
}
details{
    margin: 0 auto;
    background-color: rgba(255, 255, 0, 0.637);
    border: 1px solid #ff08085e;
    border-radius: 5px;
    width: 750px;
    padding: 10px 15px;
}
details[open] {
    padding-bottom: 15px;
}
details > summary {
    padding: 2px 6px;
    cursor: pointer; 
}
details div{
    margin: 15px;
}
details > div p{
    margin: 5px 0px;
}
details > div a{
    color: #ff9900 !important;
    text-decoration: none;
}
details > div a:hover{
    color: #ff5e00 !important;
    text-decoration: underline;
}

@media (max-width: 790px){
    details{
        width: 600px;
    }
}
@media (max-width: 650px){
    details{
        width: 490px;
    }
}
@media (max-width: 450px){
    details{
        width: 100%;
    }
}